html {
  font-size: 62.5%;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Roboto', sans-serif;  */
  /* font-style: italic; */
}
body {
  font-size: 1.5rem;
  /* font-family: 'Merriweather', serif; */
  font-family: helvetica, serif;
  
  
}
/*Header*/
#header nav {
  /* background-color: rgba(46, 42, 42, 0.801) !important; */
  background-color: rgb(66, 66, 66) !important;
}


#header img {
  height: 7rem;
}

#header span {
  padding-top: 1rem;
  font-size: 150%;
}


#menu123 {
  /* background-color: black; */
  
  background-color: rgba(46, 42, 42, 0.801) !important;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  
}

 #inlineFormCustomSelectPref {
 background-color: rgb(214, 213, 213) ;
 
  /* color: white; */
  font-size: 1.25rem;
}

.text-rolling {
  color: rgb(34, 184, 243) !important;
}
/*fin de header*/

/*Main*/
#main .carousel-inner img {
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}

#carousel .overlay button,
#carousel .overlay a {
  font-size: 1.5rem;
}


/*Speakers*/
#speakers .card,
#speakers .card h5 {
  font-size: 1.5rem;
}



#imagencard {
  height: 20rem;
  width: auto;
}



/*Lugar y fecha*/

#lugar-fecha {
  background-color: black;
  color: white;
}

#lugar-fecha img {
  max-width: 100%;
}

#lugar a {
  font-size: 1.5rem;
}

#conviertete-en-orador small,
#conviertete-en-orador input,
#conviertete-en-orador textarea,
#conviertete-en-orador button {
  font-size: 1.5rem;
}

#conviertete-en-orador textarea {
  resize: none;
}

/*botones redes sociales*/

.sticky-container{
  padding:0px;
  margin:0px;
  position:fixed;
  right:-130px;
  top:230px;
  width:210px;
  z-index: 1100;
}
.sticky li{
  list-style-type:none;
  background-color:#fff;
  color:#efefef;
  height:43px;
  padding:0px;
  margin:0px 0px 1px 0px;
  /* -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out; */
  cursor:pointer;
}
.sticky li:hover{
  margin-left:-10px;
}
.sticky li img{
  float:left;
  margin:5px 4px;
  margin-right:5px;
}
.sticky li p{
  padding-top:5px;
  margin:0px;
  line-height:16px;
  font-size:11px;
}
.sticky li p a{
  text-decoration:none;
  color:#2C3539;
}
.sticky li p a:hover{
  text-decoration:underline;
}

/*fin botones redes sociales*/

/*Footer*/
/* #footer {
  background-color: rgba(46, 42, 42, 0.801);
  min-height: 5rem;
  padding: 2rem;
  text-align: center;
}

#footer a {
  color: white;
} */

/*fin footer*/

/*Footer*/
#footer {
  
  
  background-color: rgb(66, 66, 66) !important;
  /*background-color: rgb(244, 67, 54);*/
  min-height: 5rem;
  padding: 2rem;
  text-align: center;
  color: white;
}

#footer a {
  color: white;
}

#footer img {
  height: 12rem;
}


/*fin footer*/



/*****************************************/

@media (min-width: 1024) {
  #lugar-fecha img {
    height: 100%;
    object-fit: cover;
  }
}